/**
 * 图片转base64
 * author:陈东顺
 * date:2016-09-28
 */
.container {
	width:80%;
	margin: 0 10%;
}
.drop-area {
    height: 80px;
    line-height: 80px;
    border: 4px dashed #ccc;
    color: #999;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.drop-area.drag-over {
    border-color: #3280fc;
    background-color: #ebf2f9;
}
.resultList {
	/* width:80%;
	margin: 0 10%; */
}
.result {
	text-align: right;
	width:100%;
	margin:10px 0;
}
.result button {
	display: inline-block;
	margin-bottom: 3px;
	border-radius: 3px;
	width:70px;
	background: #5c5;
	border-color: #5c5;
	color:#fff;
	cursor: pointer;
	box-shadow: 3px 3px rgba(238,238,238,.7);

}
.result textarea {
	box-sizing: border-box;
	width:100%;
	border-radius: 5px;
	box-shadow: 3px 3px #eee;
}